body {
    width: 100%;
    background-color: rgb(233, 233, 233);
    margin: 0;
    overflow-x: hidden;
}

h1, h2, h3, a, button, p {
    font-family: "Geom", sans-serif;
}

p, button, a {
    font-size: 1.2rem;
    font-weight: 200;
}

button {
    padding: 8px 16px;
    background-color: greenyellow;
    color: black;
    border: none;
    font-size: 1rem;
    border-radius: 8px;
}

button:hover {
    background-color: chartreuse;
}

header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

section {
    max-width: 80vw;
    padding: 20px;
}

header>section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    justify-content: center;
    align-items: center;
}

header>section div {
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 3.4rem;
    font-weight: 800;
    position: absolute;
    color: greenyellow;
    left: 20%;
    top: 20%;
}

main>h2 {
    text-align: center;
    font-size: 5rem;
    color: greenyellow;
}

#header-image {
    max-height: 800px;
    aspect-ratio: auto;
    border-radius: 50px 4px 4px 4px;
}

#header-image+.caption {
    color: white;
    position: relative;
    bottom: 40px;
    left: 10px;
    font-size: 0.9rem;
}

.card-big {
    padding: 20px;
    background-color: white;
    border-radius: 4px 4px 50px 4px;
}

.button-bar {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

main {
    background-color: white;
    rotate: -3deg;
    width: 200%;
    margin-left: -200px;
}

main>section {
    rotate: 3deg;
    overflow: hidden;
    margin-left: 200px;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 20px;
}

.project-card {
    width: 1fr;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    border-radius: 4px;
    background-color: rgb(233, 233, 233);

}

.project-card>.image-container {
    max-height: 200px;
    aspect-ratio: auto;
    overflow: hidden;
}

.image-container>img {
    width: 100%;
    border-radius: 4px 4px 4px 0px;
}

.card-text {
    margin: 16px;
}

.card-text>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}